{% extends 'base.html.twig' %}

{% block title %}{{'auth.email_ok'|trans}}{% endblock %}

{% block body %}
    <p>
        {{'auth.confirm_reset'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{'auth.email_notok'|trans}} <a href="{{ path('app_forgot_password_request') }}">{{'auth.try_again'|trans}}</a>.</p>
{% endblock %}
