<h1>{{'auth.mail_greetings'|trans}}</h1>

<p>{{'auth.mail_link'|trans}}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{'auth.mail_expire'|trans}} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>{{'auth.mail_ending'|trans}}</p>
