{% extends 'base.html.twig' %}

{% block title %}{{'auth.reset'|trans}}{% endblock %}

{% block body %}
    <h1>{{'auth.reset'|trans}}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{{'auth.reset'|trans}}</button>
    {{ form_end(resetForm) }}
{% endblock %}
