{% extends 'base.html.twig' %}

{% block title %}Liste des tâches
{% endblock %}

{% block body %}

	{# <p>{{translated}}</p> #}
	{# <p>{{translated|trans}}</p> #}
		<div class="container"> {% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="d-flex justify-content-center">
					<p class="fw-bold text-{{ label }}">
						{{ message }}
					</p>
				</div>
			{% endfor %}
		{% endfor %}


		<a href="{{ path('task_create') }}" class="btn btn-primary">{% trans from "messages" %}general.button.add{% endtrans %}</a>
		<a href="{{ path('task_myarchives') }}" class="btn btn-primary">{% trans from "messages" %}general.button.archives{% endtrans %}</a>
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('user_listing') }}" class="btn btn-primary">{% trans from "messages" %}user.title{% endtrans %}</a>
			<a href="{{ path('tag_index') }}" class="btn btn-primary">{% trans from "messages" %}tag.title{% endtrans %}</a>
		{% endif %}
		<a href="{{ path('task_download') }}" class="btn btn-primary">{% trans from "messages" %}general.button.download{% endtrans %}</a>
		<div class="d-flex justify-content-between mb-3">
			<select name="archives" id="selectedValues" onchange='location = this.value;'>
				<option value="archives" selected>Type d'archivage</option>
				<option value="archives_auto">Auto</option>
				<option value="archives_manual">Manuel</option>
			</select>
		</div>


		{% include "task/listing.html.twig" %}

	</div>


{% endblock %}
