{% extends 'base.html.twig' %}

{% block title %}{{ 'user.index' | trans }}
{% endblock %}

{% block body %}


	{# <p>{{translated}}</p> #}
	{# <p>{{translated|trans}}</p> #}
    <div class="container">
    <div class="d-flex justify-content-center">
		<h1>{{ 'user.index' | trans }}</h1>
	</div>
   
     {% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="d-flex justify-content-center">
					<p class="fw-bold text-{{ label }}">
						{{ message }}
					</p>
				</div>
			{% endfor %}
		{% endfor %}
	

	<a href="{{ path('user_create') }}" class="btn btn-primary">{% trans from "messages" %}general.button.add{% endtrans %}</a>
	<table class="table-striped table-bordered" id="tableUsers">
		<thead>
			<th>ID</th>
			<th>{% trans from "messages" %}user.email{% endtrans %}</th>
			<th>{% trans from "messages" %}user.roles{% endtrans %}</th>
			<th></th>
			<th></th>
		</thead>
		<tbody>
			{% if users is defined %}
				{% for user in users %}
					<tr>
						<th scope="row">{{ user.id }}</th>
						<td>{{ user.email }}</td>
						<td>{{ user.roles |join(', ') }}</td>
						<td>
							<a href="{{ path('user_update', {'id': user.id}) }}" class="btn btn-success">{% trans from "messages" %}general.button.update{% endtrans %}</a>
						</td>
						<td>
							<a href="{{ path('user_delete', {'id': user.id}) }}" class="btn btn-danger">{% trans from "messages" %}general.button.delete{% endtrans %}</a>
						</td>
					</tr>
				{% endfor %}
			{% endif %}

		</tbody>
	</table>
</div>
{% endblock %}
{# {% block javascripts %} #}

		{#{{ encore_entry_script_tags('app') }}#}
	{# {% endblock %} #}

